.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.4);
}

.main {
    width: 600px;
    padding: 16px;
    border: 1px solid var(--color4);
    margin-bottom: 8px;
    background-color: var(--color2);
    display: grid;
    gap: 8px;

    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 1.5rem;
}

.description {
    width: 100%;
    resize: none;
    padding: 4px;
    
}

.file {
    font-size: 1.3rem;
}

.submit {
    padding: 8px;
    font-size: 1.4rem;
}

