name: Main
on:
  push:
    branches: [main]
    paths-ignore: 
      - .github/**
  workflow_dispatch:
env:
  NODE_VERSION: 20
  APP_NAME: 'Frontend'
  DEPLOY_PATH: '/home/ubuntu/Frontend'
  PORT: 22

jobs:
  # test-stage:
  #   runs-on: ubuntu-latest
  #   steps:
  #     # Get Code
  #   - uses: actions/checkout@v4
      
  # build-stage:
  #   needs: test-stage
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4

  #   - name: Cache Dependencies
  #     uses: actions/cache@v4
  #     with:
  #       path: ~/.npm
  #       key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}

  #   - name: Install NodeJs
  #     uses: actions/setup-node@v4
  #     with:
  #       node-version: ${{env.NODE_VERSION}}
      
  #   - name: Install Dependencies
  #     run: npm ci

  #   - name: Create .env
  #     run: echo ${{secrets.SERVER_ENV}} > .env

  #     # Build the Project with npm run build
  #   - name: Build Project
  #     run: npm run build

  #   - name: Remove Node Modules
  #     run: rm -rf node_modules

  #     # Upload Files for other Jobs to download
  #   - name: Upload Artifacts
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: build-files
  #       path: ./*
      
  deploy-build-start:
    # needs: build-stage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Remove .git
        run: rm -rf .git
      
      - name: Remove old build from Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{env.PORT}}
          script: |
            rm -rf ${{env.DEPLOY_PATH}}

        # Deploy Files to Server with sftp
      - name: Deploy Files
        uses: wlixcc/SFTP-Deploy-Action@v1.2.5
        with:
            username: ${{ secrets.SERVER_USERNAME }}
            server: ${{ secrets.SERVER_IP }}
            ssh_private_key: ${{ secrets.SERVER_SSH_KEY }} 
            local_path: './'
            remote_path: ${{env.DEPLOY_PATH}}

        # Connecting to Server over SSH and cd to path for App, install dependencies and then restart service
      - name: Install Dependencies, Build and Start
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{env.PORT}}
          script: |
            cd ${{env.DEPLOY_PATH}}
            echo '${{secrets.SERVER_ENV}}' > .env
            npm install
            npm run build
           
            pm2 delete '${{env.APP_NAME}}'
            pm2 start npm --name '${{env.APP_NAME}}' -- start
            pm2 save
    